<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitlist - login or signup</title>
</head>

<body>
    <h1>Hitlist</h1>
    <p>By failing to prepare, you are preparing to fail. - Benjamin Franklin</p>
    <p> If you don't know where you are going, you'll end up someplace else. ― Yogi Berra</p>
    <p>Don't go into your days as accidents -Leon Noel</p>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>

</html>