<!DOCTYPE HTML>
<html>

<head>
	<title>Login Page</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="index.html">
					<h1>Hitlist</h1>
				</a></h1>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="/">Back</a></li>
					<li><a href="/signup">SignUp</a></li>
				</ul>
				<a href="#" class="close">Close</a>
			</div>
		</nav>

		<!-- Footer -->
		<section id="footer">
			<div class="inner">
				<h2 class="major">Login</h2>

				<% if (locals.messages.errors) { %>
					<% messages.errors.forEach( el=> { %>
						<div class="alert alert-danger">
							<%= el.msg %>
						</div>
						<% }) %>
							<% } %>
								<% if (locals.messages.info) { %>
									<% messages.info.forEach( el=> { %>
										<div class="alert alert-danger">
											<%= el.msg %>
										</div>
										<% }) %>
											<% } %>

												<form action="/login" method="POST">
													<div class="fields">
														<div class="field">
															<label for="email">Email</label>
															<input type="email" name="email"
																placeholder="test@test.com" />
														</div>
														<div class="field">
															<label for="password">Password</label>
															<input type="password" name="password"
																placeholder="xxxxxxxx">
														</div>
													</div>
													<ul class="actions">
														<li><input type="submit" /></li>
													</ul>
												</form>
			</div>
			<div class="inner">
				<ul class="copyright">
					<li>All rights reserved.</a></li>
					<li>&copy; <a href="https://daviradprofile.netlify.app">DavidIradukunda</a></li>
				</ul>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/menu.js"></script>

</body>

</html>