<%- include('partials/header') -%>

<body class="is-preload">
  <%# Page Wrapper %>
  <div id="page-wrapper">

    <%# Header %>
    <header id="header" class="alt">
      <h1><a href="index.html">
          <h1>Hitlist</h1>
        </a></h1>
      <%# link back to homepage/welcome page  %>
      <nav>
        <a href="/welcome">Menu</a>
      </nav>
    </header>

    <%# Menu %>
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/welcome">Homepage</a></li>
          <li><a href="/missions">Current Missions</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <a href="#" class="close">Close</a>
      </div>
    </nav>

    <%# Mission Creation Section %>
    <section id="footer">
      <div class="inner">
        <h2 class="major">Create a Mission</h2>

        <%# Mission Creation Form %>
        <form action="/mission/createMission" method='POST'>
          <div class="fields">
            <div class="field">
              <label for="mission">Mission name</label>
              <input type="text" placeholder="Enter mission name" name='mission' required />
            </div>
            <div class="field">
              <label for="date">Mission date</label>
              <input type="date" name='date' required>
            </div>
            <div class="field">
              <label for="importance">Importance level</label>
              <select name="importance" id="cars">
                <option value="1">High</option>
                <option value="2">Medium</option>
                <option value="3">Low</option>
              </select>
            </div>
            <div class="field">
              <label for="missionTasks">Mission tasks</label>
              <textarea name="missionTasks" placeholder="Enter all mission tasks, with a comma seperating them" rows="4" required></textarea>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" /></li>
          </ul>
        </form>
      </div>

      <%# Footer %>
      <div class="inner">
        <ul class="copyright">
          <li>All rights reserved.</a></li>
          <li>&copy; <a href="https://daviradprofile.netlify.app">DavidIradukunda</a></li>
        </ul>
      </div>
    </section>

  </div>

 <%# load basic site scripts %>
 <%- include('partials/scripts') -%>

 <%# load footer partial %>
 <%- include('partials/footer') -%>