<%# Mission edit pop-up %>
<div class="pop-up-container missionContainer">
  <section class="pop-up">
    <div class="close-container">
      <button class="close" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="missionEdit" action="/mission/editMission?_method=PUT" method='POST'>
      <div class="fields">
        <div class="field">
          <label for="mission">Mission name</label>
          <input type="text" placeholder="Enter new mission name" name='mission' required />
        </div>
        <div class="field">
          <label for="date">Mission date</label>
          <input type="date" name='date' required>>
        </div>
        <div class="field">
          <label for="importance">Importance level</label>
          <select name="importance" id="cars">
            <option value="1">High</option>
            <option value="2">Medium</option>
            <option value="3">Low</option>
          </select>
        </div>
        <div class="field">
          <input id='missionId' form="missionEdit" type="hidden" name='id' value='' />
        </div>
    </form>
    <div class="field">
      <button form="missionEdit" type="submit">Submit</button>
    </div>
  </section>
</div>