<%# task edit pop-up %>
<div class="pop-up-container taskContainer">
  <section class="pop-up">
    <div class="close-container">
      <button class="close" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="taskEdit" action="/mission/editTask?_method=PUT" method='POST'>
      <div class="fields">
        <div class="field">
          <label for="task">Update Task</label>
          <input type="text" name='task' required />
        </div>
        <div class="field">
          <input id='taskId' form="taskEdit" type="hidden" name='id' value='' />
          <input id='taskvalue' form="taskEdit" type="hidden" name='taskValue' value='' />
        </div>
    </form>
    <div class="field">
      <button form="taskEdit" type="submit">Submit</button>
    </div>
  </section>
</div>

<%# add task pop-up %>
<div class="pop-up-container addContainer">
  <section class="pop-up">
    <div class="close-container">
      <button class="close" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form id="addTask" action="/mission/addTask" method='POST'>
      <div class="field">
        <label for="task">Add Task</label>
        <input type="text" name='task' required />
      </div>
      <div class="field">
        <input id='addId' form="addTask" type="hidden" name='id' value='' />
      </div>
    </form>
    <div class="field">
      <button form="addTask" type="submit">Submit</button>
    </div>
  </section>
</div>